@model IEnumerable<CoolBooks.Models.BooksViewModel>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    @foreach (var item in Model)
        {
<div>
    <h4>Books</h4>
    <hr />
    <dl class="row">
        
            <dt class = "col-sm-2">
            @Html.DisplayNameFor(model=> item.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model=> item.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => item.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => item.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => item.ISBN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => item.ISBN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => item.ImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => item.ImagePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => item.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => item.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => item.AuthorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => item.AuthorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => item.GenreName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => item.GenreName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="item.BooksID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
        }
        
</body>
</html>
