@model IEnumerable<CoolBooks.Models.BooksViewModel>

<!DOCTYPE html>

<html>

<style>

    .infobody{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: 
        "body body body body body body" 
  ;
    }


</style>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    @foreach (var item in Model)
        {
<h2>@Html.DisplayFor(Model => item.Title)</h2>

<article class="infobody">
    <img alt=""  src="@Html.DisplayFor(modelItem => item.ImagePath)">
    <div>
        <h4 style="margin-left:15px;">
            Författare:
            @Html.DisplayFor(Model => item.AuthorName)
            <br>
            <br>
            Genre:<br>
            @Html.DisplayFor(Model => item.GenreName)
        </h4>
    </div>
    <div style="grid-column-start: 3; grid-column-end: 6;">
        <h4>Description:</h4>
        <br>
        <p style="font-size: 18px;">@Html.DisplayFor(Model => item.Description)</p>
    </div>
    
    
</article>
@*
    <div class="row">
    <div class="col-md-4">
        <form asp-controller="Reviews" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for=@item.ReviewBookId class="control-label">Book</label>
                <select asp-for=@item.ReviewBookId class ="form-control" asp-items="ViewBag.BookID"></select>
            </div>
            <div class="form-group">
                <label asp-for="@item.ReviewTitle" class="control-label">Title</label>
                <input asp-for="@item.ReviewTitle" class="form-control" />
                <span asp-validation-for=@item.ReviewTitle class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@item.ReviewText" class="control-label">Text</label>
                <input asp-for=@item.ReviewText class="form-control" />
                <span asp-validation-for=@item.ReviewText class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=@item.ReviewRating class="control-label">Rating</label>
                <input asp-for=@item.ReviewRating class="form-control" />
                <span asp-validation-for=@item.ReviewRating class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>*@

<div>
    <a style="margin-top:10px;" class="btn btn-secondary" asp-controller="Reviews" asp-action="Create">Write a review!</a>
    <h2>Reviews: </h2>
    <hr />
        @foreach (var reviews in item.Reviews)
        {
            <h3>@Html.DisplayFor(Model => reviews.ClientId)</h3>
            <p style="font-size:18px;">@Html.DisplayFor(Model => reviews.Text)</p>
            <h5 style="font-size:18px;">Rating: @Html.DisplayFor(Model => reviews.Rating) /5</h5>
        }
</div>
}
<div>
    <a asp-action="Edit" asp-route-id="item.BooksID">Edit</a> |
    <a asp-action="Index">Back</a>
</div>
        
        
</body>
</html>
