@model IEnumerable<CoolBooks.Models.BooksViewModel>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    @foreach (var item in Model)
        {
<h2>@Html.DisplayFor(Model => item.Title)</h2>
<div class="d-flex flex-row">
    <img style="width:240px;"  alt=""  src="@Html.DisplayFor(modelItem => item.ImagePath)">
    <div class="d-flex justify-content-center">
        <p>@Html.DisplayFor(Model => item.Description)</p>
    </div>
    
</div>
        
<div>
    <h2>Reviews: </h2>
    <hr />
        @foreach (var reviews in item.Reviews)
        {
            <h3>@Html.DisplayFor(Model => reviews.Title)</h3>
            <p>@Html.DisplayFor(Model => reviews.Text)</p>
            <h5>Rating: @Html.DisplayFor(Model => reviews.Rating) /5</h5>
        }
</div>
}
<div>
    <a asp-action="Edit" asp-route-id="item.BooksID">Edit</a> |
    <a asp-action="Index">Back</a>
</div>
        
        
</body>
</html>
