@model CoolBooks.Models.BooksViewModel

<!DOCTYPE html>

<html>

<style>

    .infobody{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: 
        "body body body body body body" 
  ;
    }


</style>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    
<h2>@Html.DisplayFor(Model => Model.Title)</h2>

<article class="infobody">
    <img alt=""  src="@Html.DisplayFor(modelItem => Model.ImagePath)">
    <div>
        <h4 style="margin-left:15px;">
            Författare: <br>
            @Html.DisplayFor(Model => Model.AuthorName)
            <br>
            <br>
            Genre:<br>
            @Html.DisplayFor(Model => Model.GenreName)
        </h4>
    </div>
    <div style="grid-column-start: 3; grid-column-end: 5;">
        <h4>Description:</h4>
        <br>
        <p style="font-size: 18px;">@Html.DisplayFor(Model => Model.Description)</p>
    </div>
    <div style="grid-column-start: 5; grid-column-end: 9;">

            <h4>@Html.DisplayNameFor(model => model.Quote)</h4><br>
       

          @foreach (var item in Model.Quotes)
        {
                if (item.IsQuoteModerated)
                {
                    @Html.DisplayFor(model => item.Quote)<br>
                }
        }
        <br>
        <a asp-action="Create" asp-controller="Quotes" asp-route-id="@Model.AutorsId.FirstOrDefault()" asp-route-id2="@Model.BooksID" class="btn btn-primary">"Add a quote"</a> 
    </div>
</article>


<div>
    
    <a style="margin-top:10px;" class="btn btn-secondary" asp-controller="Reviews" asp-action="Create" asp-route-id="@Model.AutorsId.FirstOrDefault()" asp-route-id2="@Model.BooksID">Write a review!</a>
    <h2>Reviews: </h2>
    @Html.TextAreaFor(Model=>Model.ReviewText)
    @Html.TextBoxFor(model=>model.ReviewRating)
    <hr />
        @foreach (var reviews in Model.Reviews)
        {
            <h3>@Html.DisplayFor(Model => reviews.ClientId)</h3>
            <p style="font-size:18px;">@Html.DisplayFor(Model => reviews.Text)</p>
            <h5 style="font-size:18px;">Rating: @Html.DisplayFor(Model => reviews.Rating) /5</h5>
        }
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.BooksID">Edit</a> |
    <a asp-action="Index">Back</a>
    
</div>
        
        
</body>
</html>
