@using System.Linq;
@using Microsoft.AspNetCore.Identity;
@using CoolBooks.Areas.Identity;
@model CoolBooks.Models.BooksViewModel
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>

<html>

<style>

    .infobody{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: 
        "body body body body body body" 
  ;
    }


</style>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    
<h2>@Html.DisplayFor(Model => Model.Title)</h2>

<article class="infobody">
    <img alt=""  src="@Html.DisplayFor(modelItem => Model.ImagePath)">
    <div>
        <h4 style="margin-left:15px;">
            Författare: <br>
            @Html.DisplayFor(Model => Model.AuthorName)
            <br>
            <br>
            Genre:<br>
            @Html.DisplayFor(Model => Model.GenreName)
        </h4>
    </div>
    <div style="grid-column-start: 3; grid-column-end: 5;">
        <h4>Description:</h4>
        <br>
        <p style="font-size: 18px;">@Html.DisplayFor(Model => Model.Description)</p>
    </div>

    <div style="grid-column-start: 5; grid-column-end: 9;">

            <h4>@Html.DisplayNameFor(model => model.Quote)</h4><br>
       

          @foreach (var item in Model.Quotes)
        {
                if (item.IsQuoteModerated)
                {
                    @Html.DisplayFor(model => item.Quote)<br>
                }
        }
        <br>
        <a asp-action="Create" asp-controller="Quotes" asp-route-id="@Model.AutorsId.FirstOrDefault()" asp-route-id2="@Model.BooksID" class="btn btn-primary">"Add a quote"</a> 
    </div>
</article>
   
<h2>Reviews: </h2>

<div>

    
    <hr />
    @if (SignInManager.IsSignedIn(User))
    {
        
   
    <h2>Reviews: </h2>

    <div class="row">
    <div class="col-md-4">
        <form asp-controller="Reviews" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.HiddenFor(model => model.BooksID)
          </div>
            <div class="form-group">
                <label asp-for="@Model.ReviewText" class="control-label">Text</label>
                <input asp-for=@Model.ReviewText class="form-control" />
                <span asp-validation-for=@Model.ReviewText class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=@Model.ReviewRating class="control-label">Rating</label>
                <input asp-for=@Model.ReviewRating class="form-control" min="1" max="5" style = "width:60px"/>
                <span asp-validation-for=@Model.ReviewRating class="text-danger"></span>
            </div>
            <div class="form-group">

                <input type="submit" value="Post review!" class="btn btn-secondary" />

            </div>
        </form>
    </div>
</div>

<div>
    
    <hr />
        @foreach (var reviews in Model.Reviews)
        {
            bool hasReacted = true;
            bool liked = true;
            int comentId = 0;
            <h3>@Html.DisplayFor(Model => reviews.UserName)</h3>
            <p style="font-size:18px;">@Html.DisplayFor(Model => reviews.Text)</p>
            <h5 style="font-size:18px;">Rating: @Html.DisplayFor(Model => reviews.Rating) /5</h5>
            

            @foreach(var coment in ViewBag.AllReviewComents)
            {
                @if (coment.ClientId == UserManager.GetUserId(User) && coment.ReviewsID == reviews.ReviewsID)
                {
                    hasReacted = false;
                    if (coment.React)
                    {
                        liked = true;
                        
                    }
                    else
                    {
                        liked = false;
                       
                    }
                     comentId = coment.ReviewComentsID;
                }
                
            }
            if (hasReacted)
            {
                <a asp-action="Like" asp-controller="ReviewComents" asp-route-id=@reviews.ReviewsID asp-route-id2=@Model.BooksID class="btn btn-primary">👍</a>
                <a asp-action="Dislike" asp-controller="ReviewComents" asp-route-id=@reviews.ReviewsID asp-route-id2=@Model.BooksID class="btn btn-primary">👎</a>

            }
            else if(!hasReacted && liked)
            {
                <a class="btn btn-success">👍</a>
                <a asp-action="UpdateDislike" asp-controller="ReviewComents" asp-route-id=@comentId asp-route-id2=@Model.BooksID asp-route-id3=@reviews.ReviewsID class="btn btn-primary">👎</a>
            }
            else if(!hasReacted && !liked)
            {
                <a asp-action="UpdateLike" asp-controller="ReviewComents" asp-route-id=@comentId asp-route-id2=@Model.BooksID asp-route-id3=@reviews.ReviewsID class="btn btn-primary">👍</a>
                <a class="btn btn-danger">👎</a>
            }
                
            @if (User.IsInRole("Admin"))
            {
                 @if (reviews.Flag)
                    {
                        <a>🚩</a>
                    }
                      else
                    {
                        <a asp-action="NotFlag" asp-controller="Reviews" asp-route-id=@reviews.ReviewsID asp-route-id2=@Model.BooksID style="text-decoration: none;">🏳‍🌈</a>
                    }
            }
                   
                  
                    
             

        }

    

</div>
 }
<div>
    <a asp-action="Edit" asp-route-id="@Model.BooksID">Edit</a> |
    <a asp-action="Index">Back</a>
    
</div>
        
        
</body>
</html>
