@using Microsoft.AspNetCore.Identity
@using CoolBooks.Areas.Identity;
@model IEnumerable<CoolBooks.Models.BooksViewModel>
@inject UserManager<ApplicationUser> UserManager

@*@{
    Layout = null;
}
*@
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>


    <form asp-controller="Books" asp-action="Index" method="get">
    <p>

        Search: <input type="text"  name="Search"/>
        <input type="submit" value="Filter" />
    </p>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenreName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                <img alt="" src="@Html.DisplayFor(modelItem => item.ImagePath)">
                @*<a href="@Html.DisplayFor(modelItem => item.ImagePath)">@Html.DisplayFor(modelItem => item.ImagePath)</a>*@

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                <ul style = "list-style-type:circle">
                @for (var i = 0; i < item.AuthorName.Count; i++)
                {
                    <li>
                        @Html.DisplayFor(modelItem => item.AuthorName[i])<br />
                    </li>
                    
                }
               </ul>
            </td>
            <td>
                <ul style = "list-style-type:circle">
                 @for (var i = 0; i < item.GenreName.Count; i++)
                {
                     <li>
                 @Html.DisplayFor(modelItem => item.GenreName[i])<br />
                 </li>
                }
                </ul>
            </td>
            <td>
                <ul style = "list-style-type:circle">
                 @for (var i = 0; i < item.UserName.Count; i++)
                {
                     <li>
                 @Html.DisplayFor(modelItem => item.UserName[i])<br />
                 </li>
                }
                </ul>
            </td>
            <td>
                 @if (User.IsInRole("Admin") || item.UserName[0] == UserManager.GetUserName(User)) 
                        {
                             @for (var i = 0; i < item.UserName.Count; i++)
                            {
                    
                                        <a asp-action="Edit" asp-route-id="@item.BooksID">Edit</a> 
                       
                            }
                        }
                
                
                <a asp-action="Details" asp-route-id="@item.BooksID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BooksID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
