@using Microsoft.AspNetCore.Identity
@using CoolBooks.Areas.Identity;
@model IEnumerable<CoolBooks.Models.BooksViewModel>
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@*@{
    Layout = null;
}
*@
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>


@if (SignInManager.IsSignedIn(User))
{
    <p>
    <a class="btn btn-secondary" asp-action="Create">Create New Book</a>
</p>
}


<table class="table table-dark table-striped table-borderless table-hover align-top">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenreName)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) 
{

   


    @if ((item.IsDeleted == false && User.IsInRole("User")) || (User.IsInRole("Admin")) || (item.IsDeleted == false && !SignInManager.IsSignedIn(User)))
    {
        
    
        <tr class="table-info table-light">
            <td style="width: 15%"> 
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td style="width: 20%">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            
            <td>
                <img style="width:150px;"  alt=""  src="@Html.DisplayFor(modelItem => item.ImagePath)">
         
            </td>
           
          
            <td style="width: 15%">
                
                @for (var i = 0; i < item.AuthorName.Count; i++)
                {
                  
                         @Html.ActionLink(item.AuthorName[i], "Details", "Authors", new {id=item.AutorsId[i]}, new Dictionary<string, object> { { "class", "btn btn-secondary" } } )<br />

                }
              
            </td>
            <td style="width: 15%">
                
                 @for (var i = 0; i < item.GenreName.Count; i++)
                {

                         @Html.ActionLink(item.GenreName[i], "Details", "Genres", new {id=item.GenresId[i]}, new Dictionary<string, object> { { "class", "btn btn-secondary" } } )<br />

                }
           
            </td>
           
            <td>
                 @if (User.IsInRole("Admin") || item.UserName[0] == UserManager.GetUserName(User)) 
                        {
                             @for (var i = 0; i < item.UserName.Count; i++)
                            {
                    
                                        <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.BooksID">Edit</a> 
                       
                            }
                        }
                
                
                 <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.BooksID">View</a> 
                @*<a asp-action="Delete" asp-route-id="@item.BooksID">Delete</a>*@
            </td>
        </tr>
}
}

    </tbody>
</table>

</body>
</html>
