@model CoolBooks.Models.ReviewViewModel



    <table class="table table-dark table-striped table-borderless table-hover align-top">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reviews[0].Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reviews[0].Flag)
            </th>
           
        </tr>
    </thead>
        @using (Html.BeginForm("ManageFlag", "Admin", FormMethod.Post))
        {
              <tbody>
                 @for (int i = 0; i < Model.Reviews.Count; i++)
                        {
                        <tr class="table-info table-light">
                            <td>
                
                                @Html.DisplayFor(modelItem=>modelItem.Reviews[i].Text)
             
                            </td>
                            <td>
                                <div class="switch_box box_1" > 
                                  @Html.CheckBoxFor(modelItem=>modelItem.Reviews[i].Flag, new{ @class="switch_1"})   
                                 
                                  @Html.HiddenFor(modelItem=>modelItem.Reviews[i].ReviewsID)
                                   @Html.HiddenFor(modelItem=>modelItem.Reviews[i].BookID)
                                    @Html.HiddenFor(modelItem=>modelItem.Reviews[i].ClientId)
                                     @Html.HiddenFor(modelItem=>modelItem.Reviews[i].Created)
                                     @Html.HiddenFor(modelItem=>modelItem.Reviews[i].IsDeleted)
                                     @Html.HiddenFor(modelItem=>modelItem.Reviews[i].UserName)
                                     @Html.HiddenFor(modelItem=>modelItem.Reviews[i].Rating)
                                     @Html.HiddenFor(modelItem=>modelItem.Reviews[i].Text)
                                </div>
                
                            </td>
            
                        </tr>
                        }
            </tbody>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>


    }
      
</table>
