@model CoolBooks.Models.BooksViewModel



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Authors</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorName[0])
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quote)
        </dt>
        <dd class = "col-sm-10">
        @foreach (var item in Model.Quotes)
        {
                if (item.IsQuoteModerated)
                {
                    @Html.DisplayFor(model => item.Quote)<br>
                }
        }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AutorsId.FirstOrDefault()">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
